/*----------------------- Footer ----------------------*/
.footer-layout6 {
    background-color: $title-color;  

    .copyright-wrap {
        background-color: $black-color;
    }

    .themeholy-social a {
        background-color: #121212;
    }
}