/* Brand 1 ---------------------------------- */
.brand-sec2 {
    background-color: $theme-color-2;
    padding: 58px 0;
}

.brand-box {
    &.style2 {
        background-color: transparent;
        padding: 0;
    }
}

@media (min-width: 1400px) {
    .brand-sec2 {
        .th-container {
            --main-container: 1620px;
        }
    }
}

.brand-sec1 {
    &.style2 {
        background-color: #F6F7F9;
        padding: 60px 0;
    }
}
@media (min-width: 1400px) {
    .brand-sec1.style2 {  
        .th-container {
            --main-container: 1620px;
        }
    }
}